.footer {
    position: absolute;
    min-height: 150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    right: 0;


    // .footer__desc {
    //     width: 50%;
    //     text-align: left;
    // }

    // .footer__menu {
    //     width: 50%;
    //     text-align: right;
    // }
}

.footer__menu{
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
   
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    
 }   

.footer__menu__item {
    margin-right: 25px;

}




.footer__text{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.footer__author{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.footer__contacts{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.contacts__text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer__socials{
    display: flex;
    justify-content: center;
    padding-left: 0;
}