footer.footer
  .footer__desc
    .footer__text
      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
    .footer__author
      p © Иванов Сергей создано с любовью в LoftSchool | 2018
      
  .footer__menu
    ul.footer__menu-list
      li.footer__menu-item
        a.footer__menu-link(href="") Мои работы
          li.footer__menu-item
            a.footer__menu-link(href="") Обо мне
          li.footer__menu__item
            a.footer__menu-link(href="") Блог
          li.footer__menu-item
            a.footer__menu-link(href="") Авторизация
    ul.footer__socials
      a.socials__link(href="#")
        svg.socials__svg
          use(xlink:href="../../img/sprite/sprite.svg#vk")
      a.socials__link(href="#")
        svg.socials__svg
          use(xlink:href="../../img/sprite/sprite.svg#git")
      a.socials__link(href="#")
        svg.socials__svg
          use(xlink:href="../../img/sprite/sprite.svg#in")
            
  .footer__contacts
    a.footer__contacts-text(href="imas.spb" type="skype") imas.spb
    a.footer__contacts-text(href="imas.spb@mail.ru" type="mailto") imas.spb@mail.ru
    a.footer__contacts-text(href="+79045516878" type="tel") +7 904 551 68 78
    a.footer__contacts-text Санкт-Петербург, ул. Главная, д. 35, кв. 52  