.slider
  .slider__display
    .slider__img
      img(src=require("../../img/works/slider.png"), alt='Сайт школы LoftSchool').slider__img-pic
  .slider__info
    .slider__title
      svg.ldot__svg-left
        use(xlink:href="img/sprite/sprite.svg#ldot left")
        h3.slider__title-name Сайт школы онлайн образования
      svg.ldot__svg-right
        use(xlink:href="img/sprite/sprite.svg#ldot right")
       
    .slider__skills html, css, javascript
    .slider__btn
      a(href='https://loftschool.com', target='_blank').slider__btn-link
        svg(width='18' height='18').slider__btn-icon
          use(xlink:href='img/sprite/sprite.svg#link')
        span.slider__btn-text Посмотреть сайт
  
  .slider__btns
    button.slider__btns-left
      svg(width='45' height='30').slider-btn__icon
        use(xlink:href='img/sprite/sprite.svg#portf_arrow_down')
    button.slider__btns-right
      svg(width='45' height='30').slider-btn__icon
        use(xlink:href='img/sprite/sprite.svg#portf_arrow_up')