extends /../base

block variables
    - var title = 'Блог'

block content

  .header-blog__hidden

  include ../common/hero-blog
  

  section.section.blog
    .blog__triangles
      svg.triangles__tr(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
        polygon.triangles__left(points="0,0   0,86   500.8,86   500.8,75.5")
        polygon.triangles__right(points="1000,0   1000,86   500,86   500,75.5")
    .container.blog__container
      ul.titles__list
        li.titles__item
          p Самое важное в SASS
        li.titles__item
          p Приёмы в вёрстке, без которых не обходится ни один сайт
        li.titles__item
          p Самый необходимый набор Gulp плагинов
        li.titles__item
          p Почему я выбрал Jade
      .articles
        article.content__item
            h2.content__title Самое важное в SASS
            .content__date 22 ноября 2016
            .content__text 
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление иразвитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сферанашей активности и способствует подготовки и реализации модели развития. С другой стороны рамки и местообучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
              img(src=require("../../img/blog/code.png"), alt="Пример кода").code-img
        article.content__item
            h2.content__title Приёмы в вёрстке, без которых не обходится ни один сайт
            .content__date 20 октября 2016
            .content__text 
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление иразвитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сферанашей активности и способствует подготовки и реализации модели развития. С другой стороны рамки и местообучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 
        article.content__item
            h2.content__title Самый необходимый набор Gulp плагинов
            .content__date 1 июля 2016
            .content__text 
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление иразвитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сферанашей активности и способствует подготовки и реализации модели развития. С другой стороны рамки и местообучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 
        article.content__item
            h2.content__title Почем у я выбрал Jade
            .content__date 13 ноября 2016
            .content__text 
              p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
              p Не следует, однако забывать, что укрепление иразвитие структуры обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сферанашей активности и способствует подготовки и реализации модели развития. С другой стороны рамки и местообучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. 

  include ../common/footer