extends /../base

block variables
    - var title = 'Мои работы'

block content

  .header__hidden

  include ../common/hero
  
  
  section.section.works
    .about__triangles
      svg.triangles__tr(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
        polygon.triangles__left(points="0,0   0,86   500.8,86   500.8,75.5")
        polygon.triangles__right(points="1000,0   1000,86   500,86   500,75.5")
    .works__content
      .works__title  
        svg.dot__svg-left
          use(xlink:href="../../img/sprite/sprite.svg#dot left")
          h2.works__title-name Мои работы
        svg.dot__svg-right
          use(xlink:href="../../img/sprite/sprite.svg#dot right")

      include ../common/slider

  section.section__reviews
    .reviews__title
      svg.ldot__svg-left
        use(xlink:href="../../img/sprite/sprite.svg#ldot left")
          h3.reviews__title-name Что обо мне говорят
      svg.ldot__svg-right
        use(xlink:href="../../img/sprite/sprite.svg#ldot right")
    .reviews__content
      ul.reviews__list
        li.reviews__item
          .reviews__desc
            img(src=require("../../img/works/quotes.png"), alt='кавычки').quotes__img-pic
            .reviews__text
               p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 3 месяца только самых тяжелых испытаний и бессонных ночей!
            .reviews__block
              .reviews__img
                img(src=require("../../img/works/koval.png"), alt='Дмитрий Ковальчук').reviews__img-pic
              .reviews__author
                .reviews__author-name Ковальчук Дмитрий
                .reviews__author-prof основатель LoftSchool
        li.reviews__item
         .reviews__desc
            img(src=require("../../img/works/quotes.png"), alt='кавычки').quotes__img-pic
            .reviews__text
              p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
            .reviews__block
              .reviews__img
                img(src=require("../../img/works/sabancev.png"), alt='Владимир Сабанцев')  
              .reviews__author
                .reviews__img-pic
                .reviews__author-name Сабанцев Владимир
                .reviews__author-prof преподаватель
  section.section__form
    .form__title
      svg.ldot__svg-left
        use(xlink:href="../../img/sprite/sprite.svg#ldot left")
        h3.form__title-name Связаться со мной
      svg.ldot__svg-right
        use(xlink:href="../../img/sprite/sprite.svg#ldot right")
    .form__content
      .form-block
        input(type='text' name='name' placeholder='Имя' required).form__content-input
      .form-block
        input(type='text' name='email' placeholder='Email' required).form__content-input
      .form-block
        textarea(name='message' placeholder='Ваше сообщение' required).form__content-textarea
      .form-btn
        ul.form-btn__list
          li.form-btn__item
            button(type='submit').form-btn__link Отправить
          li.form-btn__item
            button(type='reset').form-btn__link Очистить
    .works__arrow
      a(href='#').arrow__link
        svg(width='25' height='25').arrow__icon
          use(xlink:href='../../img/sprite/sprite.svg#portf_arrow_up')

  include ../common/footer