.footer{
    position: relative;
   min-height: 150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); 

    

    @include laptops() {
    display: flex;
    justify-content: space-between;
      
  }
}

.footer-about {
   position: absolute;
    min-height: 150px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    right: 0;
     


    // .footer__desc {
    //     width: 50%;
    //     text-align: left;
    // }

    // .footer__menu {
    //     width: 50%;
    //     text-align: right;
    // }
}

.footer__menu{
    text-decoration: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 5%;
    padding-left: 5%;

  //   @include tablets() {
  //       padding-right: 0;
  //       padding-left: 0;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: flex-start;
  // }

    @include laptops() {
        padding-right: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
  }

    &:after{
      display: block;
        content: "";
        width: 90%;
        height: 1px;
        background-color: hsla(0,0%,100%,.2);
        position: absolute;
        left: 0;
        top: 65%;
        margin-left: 5%;

         @include tablets() {
            display: none;
        }

         @include laptops() {
            display: block;
            height: 87px;
            width: 1px;
            bottom: 0;
            left: 64%;
            top: 15px;
         }    
    }
   
}

.footer__menu-link{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:  #ffffff;
    margin-right: 15px;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;

    @include tablets() {
    justify-content: flex-start;
    }        
    
 }   

// .footer__menu__item {
//     margin-right: 20px;

// }




.footer__text{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
        padding-top: 20px;

     @include laptops() {
        text-align: left;
  }
}

.footer__author{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    
    @include tablets() {
        // display: inline-flex;
        // padding-left: 25%;
  }

     @include laptops() {
        text-align: left;
  }

}

.footer__contacts{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    padding-top: 1%;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;

    @include laptops() {
        text-align: left;
        padding-right: 3%;
        
    }    
}

.footer__contacts-text{
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
    color:  #ffffff;
    
}

.footer__socials{
    display: flex;
    justify-content: center;
    padding-left: 0;

     @include tablets() {
        justify-content: flex-start;
        
    }    
   
}

// .line { 
//     width: 100%;   
//     height: 2px;     
//     background: rgba(255, 255, 255, 0.2);    
    
// } 

.footer__desc{
    
    padding-left: 20%;
    padding-right: 20%;

     @include tablets() {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
  }

     @include laptops() {
        width: 320px;
        padding-right: 0;
        padding-left: 3%;
    }    

    &:after{
      display: block;
    content: "";
    width: 90%;
    height: 1px;
    background-color: hsla(0,0%,100%,.2);
    position: absolute;
    left: 0;
    top: 44%;
    margin-left: 5%;

        @include tablets() {
            top: 47%;
         }    

 

        @include laptops() {
            height: 87px;
            width: 1px;
            bottom: 0;
            left: 28%;
            top: 15px;
         }    
    }
}

.footer__about {
     @include tablets() {
            display: flex;
            justify-content: space-between;
         }    
}