.wrapper__intro {
  width: 100%;
  height: 100vh;
  // background: url('../../img/about/background/sand.jpg') center center no-repeat;
  // background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.desert__bg{
  background: url("../../img/about/background/sand.jpg") bottom left repeat-x;
  background-size: contain;
    position: absolute;
    left: 0;
    height: 100%;
    width: 6112px;
    animation: bg 90s linear infinite;
    

}

@keyframes bg {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-3056px);
  }
}

// .desert__bg-pic{
//     height: 729px;
// }

.intro__container {
    transition: .7s;
    transform-style: preserve-3d;
    position: relative;
    will-change: transform;
}



.auth__btn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 0;
  
  cursor: pointer;
  transition: .4s;
  
  &:hover{
    background-color: #fff;
    color: rgb(239, 171, 38);
  }

  @include tablets() {
      right: 3%;
      top:3%;
    }
}



.intro__front {
  min-width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(215, 191, 155, 0.6);
  border-radius: 5px;
  text-align: center;
  backface-visibility: hidden;

     @include tablets() {
      min-width: 344px;
    }

    @include laptops() {
      min-width: 380px;
    }
}

.intro__back {
  max-width: 310px;
  position: absolute;
  top: -196px;
  left: -158px;
  background-color: rgba(215, 191, 155, 0.6);
  border-radius: 5px;
  text-align: center;
  backface-visibility: hidden;

     @include tablets() {
      min-width: 344px;
    }

    @include laptops() {
      min-width: 380px;
    }
}

.js-intro-rotate {
  transform: rotateY(180deg);
}

.intro__front {
  padding-top: 233px;
}


.socials__link {
  transition: .4s;
}

.front-btn__list, .form-btn__list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.front-btn, .form-btn {
  width: 100%;
  font-size: 0;
}

.intro__btn, .form__btn{
  width: 50%;
  display: inline-block;
  border: none;
  border-right: 2px solid rgba(222, 227, 231, 0.5);
  background-color: #efab26;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  
  cursor: pointer;
  padding: 12px 0;
  transition: .4s;

   &:last-child {
    border-right: none;
  }

    &:hover {
    background-color: #d18712;
  }

   @include tablets() {
       font-size: 16px;
    }
}

.front-btn__item {
  display: inline-block;
  border-right: 2px solid rgba(222, 227, 231, 0.5);
  &:last-child {
    border-right: none;
  }
 
}

.front-btn__item {
  width: 33.33%;
}

// .form-btn__item {
//   width: 50%;
// }

.front-btn__link {
  width: 100%;
  background-color: #efab26;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  padding: 12px 0;
  transition: .4s;
  &:hover {
    background-color: #d18712;
  }
  @include tablets() {
       font-size: 16px;
    }
}

.socials{
  margin-top: 55px;
  margin-bottom: 42px;
}

.hero__socials {
  position: relative;
    width: 89%;
}



.index__title {
  display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
}

.index__title-name {
  font-family: 'SansusWebissimo';
  font-size: 30px;
  color: rgba(255, 255, 255, 0.55);;
  text-transform: uppercase;
  
}

.ldot__svg-left, .ldot__svg-right{
    width: 30px;
    height: 20px;
    
}


.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-block {
  display: flex;
  padding: 0 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.form-check{
  margin-bottom: 24px;
}

.form-check__content{
  margin-right: 40px;
}

.form-block__icon {

  background-color: #f0efe9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
}

.icon-input {
  fill: #c4cbcd;
  vertical-align: middle;
}

.form-block__input {
  
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  display: block;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px 20px;
}



.form-check__title, .form-check__subtitle {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.55);
  vertical-align: middle;
}

.form-check__title {
  font-weight: 700;
  margin-bottom: 10px;
  
}

.form-check__subtitle {
  font-weight: 500;
}

.form-check__subtitle--margin {
  display: inline-block;
  margin-right: 40px;
}

.block-content__checkbox {
  display: none;
}

.block-content__checkbox-hidden {
  width: 20px;
  height: 20px;
  background-color:#e7a731; 
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 11px;
    height: 7px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
    top: 5px;
    left: 4px;
  }
}

.block-content__checkbox:checked {
  &+.block-content__checkbox-hidden {
    &:after {
      content: '';
    }
  }
}

.block-content__checkbox + .block-content__checkbox-hidden:after {
  content: none;
}

.block-content__radio {
  display: none;
}

.block-content__radio-hidden {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  &:after {
      content: '';
      display: block;
      position: absolute;
      width: 0px;
      height: 0px;
      border-radius: 50%;
      background: #e7a731;;
      top: 6px;
      left: 6px;
  }
}

.block-content__radio:checked {
  &+.block-content__radio-hidden {
    &:after {
        width: 8px;
        height: 8px;
    }
  }
}



.intro__copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  line-height: 24px;
}

.copyright__text {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.55);
}

