.map {
    // background: url('../../img/map.png') center center no-repeat;
    // background-size: cover;
    position: relative;
    min-height: 650px;
}

.google-map{
    position: relative;
    overflow: hidden;
    height: 100vh;
    @include tablets() {
       
        position: relative;
    }
}

.map__contacts {
   
    background-color: rgba(252, 252, 252, 0.85);
    border-radius: 5px;
    padding: 35px;
     
      @include tablets() {
       transform: translate(36%,27%);
        position: absolute;
        z-index: 1;
    }

      @include laptops() {
       transform: translate(90%,27%);
        
    }
      
}

.contacts__title{
    display: flex;
    align-items: center;
    justify-content:center;

}

 .contacts__title-name {
       
    font-family: 'SansusWebissimo', Arial, Helvetica, sans-serif;
    color:  #373e42;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
}



.contacts__description{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:  rgba(94, 90, 85, 0.8);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}



.contacts__text{
    text-decoration: none;
    color:  rgba(94, 90, 85, 0.8);
}

.contacts__pic-img,{
    width: 23px;
    height: 23px;
    fill: #e7a731;
    margin-right: 15px;
}