extends /../base

block variables
    - var title = 'Главная страница'

block content
  
  .wrapper__intro
    .desert__bg
      
    button.auth__btn Авторизоваться
    .intro__container
      .intro__front
        .hero__title
          .user.hero__user
            .user__pic
              img(src=require("../../img/ava.jpg"), alt="ava").user__pic-img
            .user__description
              .user__name Сергей Иванов
              .user__info Личный сайт разработчика
        .hero__socials
          ul.socials
            a.socials__link(href="#")
              svg.socials__svg
                use(xlink:href="../../img/sprite/sprite.svg#vk")
            a.socials__link(href="#")
              svg.socials__svg
                use(xlink:href="../../img/sprite/sprite.svg#git")
            a.socials__link(href="#")
              svg.socials__svg
                use(xlink:href="../../img/sprite/sprite.svg#in")
        .front-btn
          -
            var front_btn = [
              ['Мои работы', 'works.html'],
              ['Обо мне', 'about.html'],
              ['Блог', 'blog.html'],
            ]
          ul.front-btn__list
            each item in front_btn
              li.front-btn__item
                a(href=`${item[1]}`).front-btn__link #{item[0]}
      .intro__back.js-intro-rotate
        .index__title
          svg.ldot__svg-left
            use(xlink:href="../../img/sprite/sprite.svg#ldot left")
            h2.index__title-name Авторизуйтесь
          svg.ldot__svg-right
            use(xlink:href="../../img/sprite/sprite.svg#ldot right")  
        form.auth-form
          .form-block
            .form-block__icon
              svg.icon-input(width='16' height='16')
                use(xlink:href="../../img/sprite/sprite.svg#login")
            input(type="text" name="login" placeholder="Логин" required).form-block__input
          .form-block
            .form-block__icon
              svg.icon-input(width='16' height='16')
                use(xlink:href="../../img/sprite/sprite.svg#password")
            input(type="text" name="password" placeholder="Пароль" required).form-block__input
          .form-check
              label.form-check__content
                input(type="checkbox" name="human" checked).block-content__checkbox
                span.block-content__checkbox-hidden
                span.form-check__subtitle Я человек
          .form-check
            .form-check__title Вы точно не робот?
            label.form-check__content
              input(type="radio" name="robot" value="Да" checked).block-content__radio
              span.block-content__radio-hidden
              span.form-check__subtitle.form-block__subtitle--margin Да
            label.form-block__content
              input(type="radio" name="robot" value="Не уверен").block-content__radio
              span.block-content__radio-hidden
              span.form-check__subtitle Не уверен
          .form-btn
            button(type="button").intro__btn На главную
            button(type="submit").form__btn Войти 
            
    .intro__copyright
      .copyright__text © Сергей Иванов <br> создано с любовью в LoftSchool | 2018