div(class='wrapper')
        div(class='authorization')
            h1(class='authorization__title') Авторизуйтесь
            form(action="" id='authorization-form')
                div(class='form__content')
                    label(class="form__label" for="login") 
                        p(class="form__icon") Л
                        input(type="text" id='login' class='form__input' placeholder='Логин')
                div(class='form__content')
                    label(class="form__label" for="password")
                        p(class="form__icon") П
                        input(type="text" id='password' class='form__input' placeholder='Пароль')
                div(class='form__content')
                    label(class="form__label" for="human")
                        input(type="checkbox" id='human' class='form__checkbox')
                        p(class="form__text") Я человек
                p(class='form__question') Вы точно не робот?
                div(class='form__content')
                    div(class="form__radio")
                        label(class="form__label-radio")
                            input(type="radio" name="robot" value="yep" class='form__radio')
                            p(class="form__text") Да
                        label(class="form__label-radio")
                            input(type="radio" name="robot" value="nope" class='form__radio')
                            p(class="form__text") Не уверен
                div(class='form__content')
                    button(type='button' class='form__btn') На главную
                    button(type='button' class='form__btn') Войти